.symp-info {
	background-color: #72777f;
	padding: 10px;
	color: white;
	font-family: NexaLight;
	border-radius: 5px;
}

.symp-info p {
	font-size:1em;
}
h1.symp {
	font-size:4em;
}
.silver {
	color:#72777f;
}