---
layout: website
title: ChemBio Hub
---



	<div class="row" id="intro-row">


		<div class="col-xs-22">
			<h1 class="intro blue">Supporting world class<br/>chemical biology research.</h1>
		</div>


		<div class="col-md-12">
			<!-- circles in here -->
			<div class="row mt centered">

				<div class="col-sm-3 entry-point">
					<a href="#capabilities">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg capabilities">
								<span class="img-helper"></span>
								<img src="/assets/img/microscope.png" />
							</div>
						</div>
						<div class="row">
							<div>
								<h2 class="blue">Capabilities</h2>
								<p class="nexa blue">"I need to find a piece of equipment to help with my work"</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-3 entry-point">
					<a href="#people">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg people">
								<span class="img-helper"></span>
								<img src="/assets/img/speech.png" />
							</div>
						</div>
						<div class="row">
							<div>
								<h2 class="blue">People</h2>
								<p class="nexa blue">"I am looking for expert advice or a new collaborator"</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-3 entry-point">
					<a href="#data">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg data">
								<span class="img-helper"></span>
								<img src="/assets/img/benzene.png" />
							</div>
						</div>
						<div class="row">
							<div>
								<h2 class="blue">Data</h2>
								<p class="nexa blue">"I have data that I need to process or share with others"</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-3 entry-point extra-div">
					<a href="/symposium">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg extra">
								<span class="date-month">Nov</span>
								<span class="date-number">10</span>
							</div>
						</div>
						<div class="row">
							<div>
								<a href="/symposium">
									<h2 class="blue">Symposium</h2>
									<p class="nexa blue">Chemical biology across the University of Oxford</p>
								</a>
							</div>
						</div>
					</a>
				</div>   

			</div>

			<div class="row mt centered">

			</div>

		</div>

	</div>




	<!-- Functional content goes here -->
	<a id="capabilities"></a>
	<div class="row subheading capabilities">
		<div class="col-xs-6">
			<h2 class="pull-left no-bottom-margin entry-point">Capabilities</h2>
		</div>
		  <button class="btn pull-right scrollToTop btn-lg">Back to top <span class="glyphicon glyphicon-upload"></span> </button>
		 
		 <!-- <div class="scrollToTop pull-right col-xs-1">
		 	<h2><span class="glyphicon glyphicon-upload"></span></h2>
		 </div> -->

	</div>
	<div class="row subheading">
		<div class="col-xs-12">
			<h2 class="no-bottom-margin">I need to find a piece of equipment to help with my work</h2>
		</div>
	</div>

	<div class="row functional">

				<div class="col-sm-8">
					<div class="row">
						<div class="col-xs-12">
						<h2 class="blue">Search our Equipment Database</h2>
						<div class="form-group input-group">
					      <input id="equip-search" type="text" class="input-lg form-control">
					      <span class="input-group-btn">
					        <button id="equip-search-btn" class="btn-lg btn btn-primary" type="button">Search</button>
					      </span>
					    </div>
					    
					    <h2 class="blue">Useful ChemBio Equipment Categories</h2>
						<ul class="research-eq nav-collapse">
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/other/biobank/" onclick='return !window.open(this.href);'>Biobank</a></li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/biomolecular-interaction-analysis/" onclick='return !window.open(this.href);'>Biomolecular Interaction Analysis</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/gas-liquid-analysis/biochemical-analysis/" onclick='return !window.open(this.href);'>Biochemical Analysis</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/cell-nucleic-acid-protein-analysis/" onclick='return !window.open(this.href);'>Cell / Nucleic Acid / Protein Analysis</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/cell-preparation/" onclick='return !window.open(this.href);'>Cell Preparation</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/cell-based-assays/" onclick='return !window.open(this.href);'>Cell-based assays</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/chromatography/" onclick='return !window.open(this.href);'>Chromatography</a></li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/other/fermentation/" onclick='return !window.open(this.href);'>Fermentation</a></li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/other/freeze-drying/" onclick='return !window.open(this.href);'>Freeze Drying</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/gas-liquid-chromatography-mass-spectrometry/" onclick='return !window.open(this.href);'>GC-MS / LC-MS</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/sample-analysis/hplc/" onclick='return !window.open(this.href);'>HPLC</a></li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/genetic-techniques/" onclick='return !window.open(this.href);'>Genetic Techniques</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/imaging/" onclick='return !window.open(this.href);'>Imaging</a></li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/liquid-sample-handling/" onclick='return !window.open(this.href);'>Liquid / Sample Handling</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/microarrays/" onclick='return !window.open(this.href);'>Microarrays</a></li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/other/microwave-synthesis/" onclick='return !window.open(this.href);'>Microwave Synthesis</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/sample-analysis/nmr/" onclick='return !window.open(this.href);'>NMR</a></li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/other/protein-preparation/" onclick='return !window.open(this.href);'>Protein Preparation</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/other/peptide-synthesis/" onclick='return !window.open(this.href);'>Peptide Synthesis</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/plate-reader/" onclick='return !window.open(this.href);'>Plate Reader</a></li> 
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/qpcr/" onclick='return !window.open(this.href);'>qPCR</a></li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/sample-prep/" onclick='return !window.open(this.href);'>Sample Prep</a> </li>
							<li><a class="btn btn-lg btn-default research-eq" href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/browse/spectroscopy/" onclick='return !window.open(this.href);'>Spectroscopy</a></li>
						</ul>
					</div>
					</div>
					<div class="row" style="margin-top:15px;">
						<div class="col-xs-12">
							<div class="form-group">
								<h2 class="blue">Submit Equipment</h2>
								<p class="blue">Do you have equipment that will help other chemical biologists?</p>
								<a href="https://www.research-facilities.ox.ac.uk/account/webauth/?next=/contribute/" class="btn btn-primary btn-block" style="width: 50%;
margin: 0 auto;" onclick='return !window.open(this.href);'><span class="glyphicon glyphicon-import"></span> Submit details <span class="hidden-xs">to the University database</span></a>
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-4">
					
					<div class="form-group">
						<h2 class="blue">Can't find what you're looking for?</h2>
						<p class="blue">Tell us what you need and we may be able to facilitate this</p>

						{% include contact-form.html subject_value="Equipment request" form_id_slug="equipment" %}
<!-- 
						<textarea class="form-control"  rows="5"></textarea>placeholder="For example, [sample question]"
						<button class="btn btn-success btn-block top-margin">Submit via Webauth</button> -->
					</div>
				</div>
	</div>

	<a id="people"></a>
	<div class="row subheading people">
		<div class="col-xs-6">
			<h2 class="pull-left no-bottom-margin entry-point">People</h2>
		</div>
		<button class="btn pull-right scrollToTop btn-lg">Back to top <span class="glyphicon glyphicon-upload"></span> </button>
	</div>
	<div class="row subheading">
		<div class="col-xs-12">
			<h2 class="no-bottom-margin">I am looking for expert advice or a new collaborator</h2>
		</div>
	</div>

	<div class="row functional">
		<div class="col-xs-12">
			
			<div class="row">
				<div class="col-sm-8">
						<h2 class="blue">18 scientists are benefiting from ChemBio Hub</h2>

						
							{% assign count = '0' %}
							{% for speaker in site.speakers %}
								{% capture count %}{{ count }}{% endcapture %}
								{% capture currentmod %}{{ count | mod:6 }}{% endcapture %}
								{% if currentmod == '0' or forloop.first %}
									<div class="row ppl">
								{% endif %}
										<div class="col-sm-2 col-xs-4">
											<img src="{{ speaker.photo }}" data-name="{{ speaker.first_name }} {{speaker.last_name}}" data-dept="{{ speaker.dept }}" data-weblink="{{ speaker.link }}" class="ppl-thumb"> 
											<div class="contenthover">
											    <p><a href="{{ speaker.link }}">{{ speaker.first_name }}<br/>{{ speaker.last_name }}</a></p>
											</div>
										</div>
								{% if forloop.last or currentmod == '5' %}
									</div>
								{% endif %}
								{% capture count %}{{ count | plus: '1' }}{% endcapture %}
							{% endfor %}
							{% assign count = nil %}

				</div>
				<div class="col-sm-4">
							<h2 class="blue">Can't find who you're looking for?</h2>
							<p>Let other users find you by registering your details with ChemBio Hub</p>

							{% include contact-form.html subject_value="Contact" form_id_slug="people" %}
							
				</div>
			</div>
		</div>
	</div>

	<a id="data"></a>
	<div class="row subheading data">
		<div class="col-xs-6">
			<h2 class="pull-left no-bottom-margin entry-point">Data</h2>
		</div>
		<button class="btn pull-right scrollToTop btn-lg">Back to top <span class="glyphicon glyphicon-upload"></span> </button>
	</div>
	<div class="row subheading">
		<div class="col-xs-12">
			<h2 class="no-bottom-margin">I have data that I need to process or share with others</h2>
		</div>
	</div>
	<div class="row functional" >
		<div class="col-xs-12">
			

			<div class="row ">
				<div class="col-sm-8 ">
					<div class="row">
						<h2 class="blue centered">Use our ChemBio Crunch tool to process your data.</h2>

					</div>
					<iframe src="//www.slideshare.net/slideshow/embed_code/39713029" width="100%" height="400px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" class="hidden-xs"></iframe> 

					<!-- Carousel currently hidden-->
					<div id="carousel-crunch" style="display:none" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators fp">
					    <li data-target="#carousel-crunch" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-crunch" data-slide-to="1"></li>
					    <li data-target="#carousel-crunch" data-slide-to="2"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="/assets/img/fp-carousel/landing.png" alt="ChemBio Crunch">
					      <div class="carousel-caption"></div>
					    </div>
					    <div class="item">
					      <img src="/assets/img/fp-carousel/heatmap.png" alt="ChemBio Crunch">
					      <div class="carousel-caption"></div>
					    </div>
					    <div class="item">
					      <img src="/assets/img/fp-carousel/ic50.png" alt="ChemBio Crunch">
					      <div class="carousel-caption"></div>
					    </div>
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control fp" href="#carousel-crunch" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left"></span>
					  </a>
					  <a class="right carousel-control fp" href="#carousel-crunch" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right"></span>
					  </a>
					</div>
					<div>
						<!-- A button to replace the slideshow for small widths -->
						<a href="http://www.slideshare.net/slideshow/embed_code/39713029#" target="_blank"><button class="btn btn-primary btn-block hidden-lg hidden-md hidden-sm">View Slideshare</button></a>
					</div>
					<div>
						<!-- <p class="top-margin">Crunch turns your assay readouts into slick visualisations in seconds.</p> -->
						<a href="https://chembiohub.ox.ac.uk/crunch/" target="_blank"><button class="btn btn-primary btn-block">Show me ChemBio Crunch</button></a>
					</div>
					<div class="top-margin">
						<p></p>
						<h2 class="blue centered">OOMMPPAA - directed synthesis and data analysis tool</h2>

						<p>OOMMPPAA is a novel computational tool designed to inform compound design by combining structural and activity data. OOMMPPAA uses 3D matched molecular pairs to contextualise both activity and inactivity data in its relevant protein environment. It then identifies pharmacophoric transformations between pairs of compounds and associates them with their relevant activity changes. OOMMPPAA presents this data in an interactive application providing the user with a visual summary of important interactions in the context of the binding site.</p>
						<p class="small">Citation: <a href="http://pubs.acs.org/doi/pdfplus/10.1021/ci500245d">Anthony R. Bradley, Ian D. Wall, Darren V.S. Green, Charlotte M. Deane, Brian D. Marsden (2014). OOMMPPAA: A tool to aid directed synthesis by the combined analysis of activity and structural data</a></p>
						
						<div><a href="http://oommppaa.sgc.ox.ac.uk/OOMMPPAA/" target="_blank"><button class="btn btn-primary btn-block">Show me OOMMPPAA</button></a></div>

					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<p class="blue">Do you need more from ChemBio Crunch? Tell us your idea and we will work with you to make this happen.</p>
						
						{% include contact-form.html subject_value="ChemBio Crunch feedback" form_id_slug="crunch" %}

					</div>
				</div>
			</div>
		</div>
	</div>






	
	<div class="row mt centered" id="social-widgets">


		<div class="col-md-4 col-sm-6 col-xs-12 widget">
			<h3 class="subheading">
				Why ChemBioHub?
			</h3>
			<div class="col-ld-12 testimonial" >
				<div>
					<img class="floatwrap img-circle" src="/assets/img/chris_scofield.png " alt="" title="Professor Chris Schofield" ></img>
					<p class="blue testimonial">"ChemBioHub will enable researchers to share knowledge, expertise, reagents and data, reducing inefficiency and missed opportunities. I’m convinced that this platform will become a key tool used across the University and beyond."</p>
				</div>
				<p class="blue text-right attribution"><span class="source-name">Professor Chris Schofield</span><br/>Head of Organic Chemistry<br/> University of Oxford</p>
			</div>
		
			<div class="col-ld-12 testimonial" >
				<div>
					<img class="floatwrap img-circle" src="/assets/img/alisdair_buchan.png " alt="" title="Professor Alistair Buchan" ></img>
					<p class="blue testimonial">"ChemBioHub will provide tools to support close collaboration among more than 20 departments. It will showcase the University’s world-class chemical biology capabilities and science both to academics and industry around the world."
					</p>
				</div>

				<p class="blue text-right attribution"><span class="source-name">Professor Alistair Buchan</span><br/>Head of Medical Sciences Division<br/> University of Oxford</p>
			</div>
		</div>	



		<div class="col-md-4 col-sm-6 hidden-xs widget">
			<h3 class="subheading">
 				Twitter
 			</h3>
			<a class="twitter-timeline" href="https://twitter.com/oxchembiohub" data-widget-id="515124962516930560">Tweets by @oxchembiohub</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>




		<div class="col-md-4 col-sm-6 hidden-xs widget">
			<h3 class="subheading">
 				ChemBio Q & A forum
 		</h3>
			<div id="forum-widget" ></div>	
		</div>			
		<div class="col-md-4 col-sm-6 hidden-xs widget">
			<h3 class="subheading">
 				Our code on Github
 		</h3>
			<div class="github-widget" data-repo="thesgc/chembiocrunch"></div>	
			<div class="github-widget" data-repo="thesgc/raw"></div>	
			<div class="github-widget" data-repo="thesgc/chembiohub-site"></div>	
		</div>		
		<div class="col-md-4 col-sm-6 hidden-xs widget">
			<h3 class="subheading">
 				Our Project Blog
 		</h3>
			<div id="blog-widget" >
				{% include blog-widget.html %}
			</div>	
		</div>

		<div class="col-md-4 col-sm-6 hidden-xs widget">
			<h3 class="subheading">
 				Google+
 			</h3>
			<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
			<g:page href="https://plus.google.com/106725711668905271458"></g:page>
			<!--Place the code below where you want the widget to render-->
<!--
<div id="gpluswidget" data-id="106725711668905271458" data-key="AIzaSyCTCYwVao2FYbLkhnGy71uSWtJbCPdG8WM" data-posts="7" data-lang="yes" data-width="290" data-bkg="transparent" data-padding="10" data-border="f5f5f5" data-radius="0" data-txt="0c0c0c" data-link="36c" data-favicon="yes" data-header="yes" data-footer="yes" data-page=""></div>
<script type="text/javascript" src="http://gplusapi.googlecode.com/files/widget0.js"></script>
-->
		</div>

		
	</div><!-- row -->




	<div class="row centered">
			<h3 class="subheading">Our Team.</h3>
	</div><!-- /row -->

	<div class="row centered group-photo">
		<img class="max-image" src="/assets/img/cbh-group-photo.jpg">
	</div>
	<div class="col-md-2 col-xs-12  centered">
		<div class="visible-xs visible-sm">(L-R)</div>
		<h3 class="blue">Michael O'Hagan<br>
		<small>Knowledge Exchange Coordinator</small>
		</h3>
	</div><!--/col-lg-3 -->
	<div class="col-md-2 col-xs-12 centered">
		<h3 class="blue">Paul Barrett<br>
		<small>Developer</small></h4>
	</div><!--/col-lg-3 -->
	<div class="col-md-2 col-xs-12  centered">
		<h3 class="blue">Karen Porter<br>
		<small>Project Manager.</small></h3>
	</div><!--/col-lg-3 -->
	<div class="col-md-3 col-xs-12  centered">
		<h3 class="blue">Dr. Brian Marsden<br>
		<small>Principal Investigator: Research Informatics</small>
		</h3>
	</div><!--/col-lg-3 -->
	<div class="col-md-2 col-xs-12 centered">
		<h3 class="blue">Andy Stretton<br>
		<small>Developer</small>
	</div><!--/col-lg-3 -->




    <script type="text/javascript" src="/assets/js/vendorjs/jquery.contenthover.min.js"></script>

<script type="text/javascript" src="/assets/js/vendorjs/jquery.githubRepoWidget.min.js"></script>	


   <!-- <script type="text/javascript" src="/assets/js/vendorjs/FeedEk.js"></script> -->

<script type="text/javascript" src="/assets/js/slide-down-links.js"></script> 

<script type="text/javascript" src="/assets/js/index-functions.js"></script> 
