<div class="row">
	<h2 class="subheading">Symposium Summary</h2>

	<div class="col-xs-4">
		<!-- numbers of attendees etc -->
		<div class="row">
			<h3 class="blue centered">Here are some event numbers...</h3>
		</div>
		{% for stat in site.topstats %}
		<div class="row">
				<div class="img-circle col-xs-3 blue-bg symp-stat">
					<h2>{{ stat.number }}</h2>
				</div>
				<div class="col-xs-9">
					<p class="blue nexa">{{ stat.description }}</p>
				</div>
		</div>
		{% endfor %}

		<div class="row hidden-sm">
				<div id="hshtags_embed" data-hashtag="oxcbh" data-theme="grey" data-width="350" data-height="900">Hshtags Tag Feed</div><script type="text/javascript">!function(e,t){var s=e.createElement(t),r=e.getElementsByTagName(t)[0];s.src="//hshtags.com/webroot/js/widgets/embed-tags.js",r.parentNode.insertBefore(s,r)}(document,"script");</script>
		</div>

	</div>

	<div class="col-xs-8">

		
		<h2 class="blue">What did our 100 attendees get out of this symposium?</h2>
		<div class="row">
			<div class="col-xs-4">
				<div class="row takehome">
					<div class="img-circle col-xs-3 blue-bg symp-stat">
						<h2>10</h2>
					</div>
					<div class="col-xs-9">
						<p class="blue nexa">New collaboration ideas</p>
					</div>
				</div>
				<div class="row">
					<blockquote class="blockquote-reverse">
					  <p><em>"I met someone from a nearby department who is working on X which is similar to a project I've just received funding for"</em></p>
					  <footer>AN Other<small>Dept of Chemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row takehome">
					<div class="img-circle col-xs-3 blue-bg symp-stat">
						<h2>10</h2>
					</div>
					<div class="col-xs-9">
						<p class="blue nexa">New research connections or contacts</p>
					</div>
				</div>
				<div class="row">
					<blockquote class="blockquote-reverse">
					  <p><em>""I'm going to collaborate with dept X on a novel targetting strategy""</em></p>
					  <footer>AN Other<small>Dept of Chemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row takehome">
					<div class="img-circle col-xs-3 blue-bg symp-stat">
						<h2>10</h2>
					</div>
					<div class="col-xs-9">
						<p class="blue nexa">Improved awareness of research in other departments</p>
					</div>
				</div>
				<div class="row">
					<blockquote class="blockquote-reverse">
					  <p><em>"I discovered that Dept X does research in area Y which our group is just starting on"</em></p>
					  <footer>AN Other<small>Dept of Chemistry</small></footer>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="row alt-bg top-margin">
			<div class="col-xs-8">
				<div class="img-circle col-xs-3 blue-bg symp-stat">
					<h2>20</h2>
				</div>
				<div class="col-xs-9">
					<p class="blue nexa"><strong>are interested in using our ChemBio Crunch utility to improve their workflow</strong></p>
				</div>
			</div>
			<div class="col-xs-4">
				<!-- image of us demoing crunch at the symposium here -->
				<img src="#" style="width:100%; height:50px; margin-top:20px;" class="img-thumbnail">
			</div>
		</div>

		<div class="row alt-bg">


			<div class="col-xs-4 clearfix">
				<div class="row takehome">
					<div class="img-circle col-xs-3 blue-bg symp-stat">
					</div>
					<div class="col-xs-9">
						<p class="blue nexa"><em>"I would like Crunch to be able to handle some of my screening data and remove a processing step"</em></p>
					</div>
				</div>
				<div class="row">
					<blockquote class="blockquote-reverse">
					  <footer>AN Other<small>Dept of Chemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row takehome">
					<div class="img-circle col-xs-3 blue-bg symp-stat">
					</div>
					<div class="col-xs-9">
						<p class="blue nexa"><em>"It would be useful to use Crunch to share my screening data with a related department in the university"</em></p>
					</div>
				</div>
				<div class="row">
					<blockquote class="blockquote-reverse">
					  <footer>AN Other<small>Dept of Wherever</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row takehome">
					<div class="img-circle col-xs-3 blue-bg symp-stat">
					</div>
					<div class="col-xs-9">
						<p class="blue nexa"><em>"I would like to link Crunch to our specific piece of equipment and share data with group members"</em></p>
					</div>
				</div>
				<div class="row">
					<blockquote class="blockquote-reverse">
					  <footer>AN Other<small>Dept of Wherever</small></footer>
					</blockquote>
				</div>
			</div>
		</div>


		<div class="row top-margin" style="padding:10px;">

			<div class="col-xs-6">
				<div class="row" style="padding:10px;">
					<div class="img-circle col-xs-3 blue-bg symp-stat">
						<h2>72</h2>
					</div>
					<div class="col-xs-9">
						<p class="blue nexa"><strong>agree this type of event should be run more regularly</strong></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 well centered">
						<p class="blue nexa">If you want to discuss the symposium or ideas you’ve had since...</p>
						<p><button class="btn btn-primary">Get in touch</button></p>
					</div>
				</div>

			</div>
			<div class="col-xs-6 centered">
				<!-- image of us demoing crunch at the symposium here -->
				<p class="blue nexa">Here are some event suggestions from the day...</p>
				<h2 class="blue"><em>"An event idea would go here"</em></h2>
				<h2 class="blue"><em>"An event idea would go here"</em></h2>
				<h2 class="blue"><em>"An event idea would go here"</em></h2>
				<h2 class="blue"><em>"An event idea would go here"</em></h2>
				
			</div>

		</div>





		</div>
		

	</div>

<div class="row">

	<h2 class="subheading">Here's what people thought about the symposium...</h2>




</div>

<div class="row">

	<h2 class="subheading">Symposium attendees</h2>




</div>