.symp-info {
	background-color: #72777f;
	padding: 10px;
	color: white;
	font-family: NexaLight;
	border-radius: 5px;
}

.symp-info p {
	font-size:1em;
}
.symp-info a {
	color:white;
}
.symp-info a:hover {
	color:#007770;
}
h1.symp {
	font-size:4em;
}
.silver {
	color:#72777f;
}
.talkholder {
	background-clip: content-box;
	background-color: #eee;
	margin-bottom: 20px;
	min-height:200px;
}
.row.content-box {
	padding: 0 20px;
}
.content-box p {
	font-size:1em;
	line-height:1.3em;
	font-family:NexaBold;
	margin-bottom: 5px;
}
p.speaker-name {
	margin-top:10px;
}
.talkholder .btn-group {
	margin-top: 20px;
}
.symp-section.active {
	background-color: #ddd;
}
.large.top-margin {
	margin-top: 50px;
}
.img-circle.blue-bg.symp-stat {
	height: 50px;
	width: 50px;
}
.symp-stat {
	padding: 12px 0;
	text-align: center;
}
.vert-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.stat-holder {
	min-height:100px;
}
.takehome {
	height:140px;
}
.takehome .img-circle.blue-bg {
	background-color: green;
}
blockquote {
	min-height:150px;
}
blockquote footer {
	position:absolute;
	bottom:0;
}
.alt-bg {
	background-color:#eee;
	padding:10px;
}
p.overlay {
	position: absolute;
	bottom: 0;
	margin: 0 20px 0 4px;
	background-color: rgba(0,0,0,0.7);
	color: #eee;
	padding: 2px;
	font-size: 0.6em;
	line-height: 1.2em;
}
.nomargin {
	margin: 0;
	padding: 5px;
}
.embedded-feed {
	min-width:250px;
	width:290px;
}
.suggestion {
	position: relative;
	width: 100%;
	height:100px;
	text-align: center;
	line-height: 1.2em;
	padding:10px;
	background-color: #fff;
	border: 2px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	margin-bottom:30px;
	background-color:#FCFCC7;
}
.suggestion:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 96px;
	border: 10px solid;
	border-color: #666 transparent transparent #666;
}
.suggestion:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 32px;
	top: 94px;
	border: 8px solid;
	border-color: #FCFCC7 transparent transparent #FCFCC7;
}
.suggestion p {
	line-height: 1.2em;
	margin: 0;
}

.attendee p.person-name {
	margin-bottom: 0;
	line-height: 1.3em;
	padding-top: 10px;
}
.attendee {
	background-clip: content-box;
	background-color: #eee;
	margin-bottom: 20px;
	height: 120px;
}
.thumbnail .img-holder {
	overflow:hidden;
	height: 350px;
	vertical-align:middle;
}
.thumbnail img {
	/*height: 350px;*/
	width:100%;
	display: table-cell;
	vertical-align:middle;
}
.caption h3 {
	height: 80px;
}

@media (min-width: 768px) { 

  p.overlay {
  	font-size: 1em;
	line-height: 1.4em;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
  

}