.symp-info {
	background-color: #72777f;
	padding: 10px;
	color: white;
	font-family: NexaLight;
	border-radius: 5px;
}

.symp-info p {
	font-size:1em;
}
h1.symp {
	font-size:4em;
}
.silver {
	color:#72777f;
}
.talkholder {
	background-clip: content-box;
	background-color: #eee;
	margin-bottom: 20px;
	min-height:200px;
}
.row.content-box {
	padding: 0 20px;
}
.content-box p {
	font-size:1em;
	line-height:1.3em;
	font-family:NexaBold;
	margin-bottom: 5px;
}
p.speaker-name {
	margin-top:10px;
}
.talkholder .btn-group {
	margin-top: 20px;
}
.symp-section.active {
	background-color: #ddd;
}
.large.top-margin {
	margin-top: 50px;
}
.img-circle.blue-bg.symp-stat {
	height: 50px;
	width: 50px;
}
.symp-stat {
	padding: 12px 0;
	text-align: center;
}
.vert-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.stat-holder {
	min-height:100px;
}
.takehome {
	height:140px;
}
.takehome .img-circle.blue-bg {
	background-color: green;
}
blockquote {
	min-height:150px;
}
blockquote footer {
	position:absolute;
	bottom:0;
}
.alt-bg {
	background-color:#eee;
}